/* market-plis-div */
#market-plis-div{
    flex-direction: row;
    flex-wrap: wrap;

}


.img-anuncio img{
  width: 200px;
}

.divAnuncios {
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    padding: 10px;
    align-items: center;
    font-family: pattaya;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 300px;
    height: 350px;
    background-color: #1b171744;
}
  
  .divAnuncios #img-anuncio{
      width: 30%;
  }
  
  .divAnuncios p {
    font-size: 20px;
    margin: 0;

padding:0;
    color: #ce1212;

  }
  
  .divAnuncios .button{
    text-decoration: none;
    color: #ce1212;
  }
