<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Participantes</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>

<nav>
    <ul class="header_ul">

        {% if request.user.is_authenticated %}
            <li class="header_ul_home"><span>User: {{ user.username }}</span></li>
            <li class="header_ul_home"><a href="{% url 'reunion.list' %}">Todas las reuniones</a></li>
            <li class="header_ul_home"><a href="{% url 'misreuniones' user.id %}">Mis Reuniones</a></li>
            <li class="header_ul_home"><a href="{% url 'reunionesasignadas' user.id %}">Reuniones Asignadas</a></li>
            {% if user.is_superuser %}
                <li class="header_ul_home"><a href="{% url 'user.list' %}">Todos los Usuarios</a></li>
            {% endif %}
            <li class="header_ul_home"><a href="{% url 'user.logout' %}">Log Out</a></li>
        {% else %}
            <li class="header_ul_home"><a href="{% url 'reunion.list' %}">Todas las reuniones</a></li>
            <li class="header_ul_home"><a href="{% url 'user.login' %}">Log In</a></li>
            <li class="header_ul_home"><a href="{% url 'user.register' %}">Sing Up</a></li>
        {% endif %}
    </ul>
</nav>

<table>
    <tr>
        <th>id</th>
        <th>Reunion</th>
        <th>Participante</th>
        <th>Añadir</th>
        <th>Eliminar</th>
    </tr>
    <tbody>

    {% for participante in reunion_by_user_list %}
        <tr>
            <td>{{ participante.id }}</td>
            <td>{{ participante.nombres_reunion }}</td>
            <td>{{ participante.username }}</td>
            {% if request.user.is_authenticated %}
                {% if user.id == participante.user_owner_id %}
                    <td><a href="{% url 'participante.create' %}">Añadir</a></td>
                    <td>
                    <a onclick="return confirm('Está seguro que desea eliminar?')"
                       href="{% url 'participantes.delete' participante.id_reunion participante.id %}">Eliminar
                    </a>
                {% endif %}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>