body {
    background-color: #632432;
    font-family: Arial;
}

#main-container {
    margin: 150px auto;
    width: 600px;
}

table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 20px;
}

thead {
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td {
    background-color: #369681;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#btn-mas {
    display: none;
}

.container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.redes a, .btn-mas label {
    display: block;
    text-decoration: none;
    background: #cc2b2b;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
}

.redes a:hover {
    background: #fff;
    color: #cc2b2b;
}

.redes a {
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}

#btn-mas:checked ~ .redes a {
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

.btn-mas label {
    cursor: pointer;
    background: #f44141;
    font-size: 23px;
}

#btn-mas:checked ~ .btn-mas label {
    transform: rotate(135deg);
    font-size: 25px;
}

{

}

.header_ul {
    float: left;
    list-style: none;
}

.header_ul li {
    margin-top: 26px;
    margin-left: 5px;
    float: left;
}

.header_ul a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    background-color: black;
    padding: 5px;
}

.header_ul a:hover {
    color: red;
}