<nav>
    <ul class="header_ul">
        <li class="header_ul_home"><a href="{% url 'entidades:alumno.index' %}">Alumnos</a></li>
        <li class="header_ul_home"><a href="{% url 'entidades:docente.index' %}">Docente</a></li>
        <li class="header_ul_home"><a href="{% url 'entidades:materia.index' %}">Materias</a></li>
        <li class="header_ul_home"><a href="{% url 'entidades:inscripciones.index' %}">Inscripciones</a></li>
        <li class="header_ul_home"><a href="{% url 'entidades:ofertamateria.index' %}">Materias Ofertadas</a></li>
    </ul>
</nav>
