{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mis Reuniones</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">

</head>
<body>
<nav>
    <ul class="header_ul">
        {% if request.user.is_authenticated %}\
            <li class="header_ul_home"><span>User: {{ user.username }}</span></li>
            <li class="header_ul_home"><a href="{% url 'reunion.list' %}">Todas las reuniones</a></li>
            <li class="header_ul_home"><a href="{% url 'misreuniones' user.id %}">Mis Reuniones</a></li>
            <li class="header_ul_home"><a href="{% url 'reunionesasignadas' user.id %}">Reuniones Asignadas</a></li>
            {% if user.is_superuser %}
                <li class="header_ul_home"><a href="{% url 'user.list' %}">Todos los Usuarios</a></li>
            {% endif %}
            <li class="header_ul_home"><a href="{% url 'user.logout' %}">Log Out</a></li>
        {% else %}
            <li class="header_ul_home"><a href="{% url 'user.login' %}">Log In</a></li>
            <li class="header_ul_home"><a href="{% url 'user.register' %}">Sing Up</a></li>

        {% endif %}
    </ul>
</nav>

{% if request.user.is_authenticated %}
    <div class="container">
        <input type="checkbox" id="btn-mas">
        <div class="redes">
            <a href="{% url 'reunion.create' %}" class="fa fa-facebook">+</a>
        </div>
        <div class="btn-mas">
            <label for="btn-mas" class="fa fa-plus"></label>
        </div>
    </div>
{% endif %}
<table>
    <tr>
        <th>ID</th>
        <th>Nombre Reunion</th>
        <th>Hora de la Reunion:</th>
        <th>Falta:</th>
        <th>Fue Creado Hace:</th>
        <th>Participantes</th>
        <th>Creador</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    <tbody>

    {% for reunion in reunion_by_user_list %}
       <tr>
            <td>{{ reunion.pk }}</td>
            <td>{{ reunion.nombres_reunion }}</td>
            <td>{{ reunion.fecha_hora_reunion }}</td>
            <td>{{ reunion.fecha_hora_reunion | naturaltime }}</td>
            <td>{{ reunion.fecha_hora_creacion | naturaltime }}</td>
            <td><a href="{% url 'participantes.list' reunion.pk %}">Ver</a></td>
            <td>{{ reunion.user_owner.username }}</td>

            {% if request.user.is_authenticated %}
                {% if user.id == reunion.user_owner.id %}
                    <td><a href="{% url 'reunion.edit' reunion.pk %}">Editar</a></td>
                    <td><a onclick="return confirm('Está seguro que desea eliminar el usuario?')"
                           href="{% url 'reunion.delete' reunion.pk %}">Eliminar</a></td>
                {% endif %}
            {% endif %}

        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>